/* Bootstrap sizes:
xs < 576px
md > 768px
lg > 992px
xl > 1200px */

.contact-page-component {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.contact-master-container {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 90px;
}

.socials-strip {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 50px;
	height: 100%;
	overflow: hidden;
	width: 200px !important;
}

.contact-inner {
	background-color: #fff;
	position: relative;
	box-shadow: 20px 22px 44px #cccc;
	border-radius: 25px 0px 0px 25px;
	margin-left: 0px !important;
	width: 90% !important;
	margin-right: 0px !important;
}

/* bootstrap MD and below */
@media (max-width: 992px) {
	.socials-strip {
		height: auto !important;
		width: 100% !important;
		margin-right: 0px !important;
		border-radius: 0px 0px 25px 25px;
	}

	.contact-master-container {
		align-items: center !important;
		text-align: center;
	}

	.contact-field {
		padding: 20px 20px 80px 20px !important;
		max-width: none !important;
	}

	.contact-inner {
		background-color: #fff;
		box-shadow: 20px 22px 44px #cccc;
		border-radius: 25px 25px 25px 25px;
		justify-content: center;
	}
}

/* smaller than bootstrap xs */
@media (max-width: 768px) {
	.contact-field {
		padding: 60px 30px 90px 30px;
	}

	.main-form {
		/* position: absolute; */
		right: 0px;
	}
}

.right-contact-social-icon {
	background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
}

.tiny-icon {
	margin: 9px;
}

.tiny-social {
	font-size: 20px !important;
}

.contact-field {
	padding: 60px 260px 90px 100px;
	max-width: 950px;
}

.right-contact-social-icon {
	height: 100%;
}

.contact-field h3 {
	color: #000;
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact-field p {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 35px;
}

.contact-field .form-control {
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #ccc;
}

.contact-field .form-control:focus {
	box-shadow: none;
	outline: none;
	border-bottom: 2px solid #1325e8;
}

.contact-field .form-control::placeholder {
	font-size: 13px;
	letter-spacing: 1px;
}

.contact-info-sec {
	position: absolute;
	background-color: #2d2d2d;
	right: 0px;
	top: 13%;
	height: 340px;
	width: 340px;
	padding: 40px;
	border-radius: 25px 0 0 25px;
}

.contact-info-sec h4 {
	letter-spacing: 1px;
	padding-bottom: 15px;
}

.info-single {
	margin: 30px 0px;
}

.info-single i {
	margin-right: 15px;
}

.info-single span {
	font-size: 14px;
	letter-spacing: 1px;
}

button.contact-form-submit {
	background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
	border: none;
	color: #fff;
	padding: 10px 15px;
	width: 100%;
	margin-top: 25px;
	border-radius: 35px;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
}

.social-item-inner li {
	list-style: none;
}

.social-item-inner li a {
	color: #fff;
	margin: 0px 15px;
	font-size: 14px;
}

.social-item-inner {
	padding-bottom: 10px;
}
